.container {
    display: grid;
    grid-template-columns: 22% 25% 25% auto;
}
.login-form {
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.login-link {
    grid-column: 4;
}

.login-input {
    width: 50%;
    height: 30px;
}

.btn {
    width: 50%;
    height: 40px;
}

.register {
    grid-column: 2 / span 2;}

hr {
    border: 1px solid black;
    width: 50%;
}